@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

/* general styles */


*{
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: white;
}

html{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 1000px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    background-color: black;
    width: 100%;
    margin: 0;
}

header{ 
   background: linear-gradient(rgba(59, 59, 59, 0.404), rgba(128, 128, 128, 0.322), black);
   width: 100%;
}

header > div, main{
    margin: 0 auto;
    width: 90%;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.btn-primary{
    background-color: rgb(230, 83, 60);
    border-radius: 2.5rem;
    padding: 0.5rem 1.3rem;
    border: none;
    transition: background-color 0.15s ease-in,
                color 0.15s ease-in;
}

.btn-primary:hover, .btn-secondary:hover{
    background-color: white;
    color: rgb(230, 83, 60);
}

.btn-secondary{
    border-radius: 2.6rem;   
    background-color: rgb(230, 83, 60);
    border: none;
    font-size: 1.1rem;    
    font-weight: 600;
    line-height: 22px;
    width: 224px;
    padding: 1rem 0;
    cursor: pointer;
    transition: background-color 0.15s ease-in;
}

.title{
    font-weight: 900;
    font-size: 3rem;
    line-height: 120%;
    margin: 0;
}

.description{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
}




/* nav styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem;
}

nav h1, #fitzo{
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 900;
}

nav div:last-child{
    display: flex;
    align-items: center;
    padding: 0.17rem;
    gap: 3rem;
    border: 1px solid rgba(128, 128, 128, 0.295);
    border-radius: 2.5rem;
}

#hamburger-menu{
    display: none;
}

nav div button{
    font-size: 1.1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

nav div button:nth-child(4){
    margin-right: 1rem;
}


/* banner styles */

.banner{
    display: flex;
    align-items: center;
}

.banner-texts{
    width: 600px;
    text-align: left;
    margin-right: 5.5rem;
}

.banner-texts  h1{
    font-size: 5rem;
    font-weight: 900;
    margin: 0;
    line-height: 5.5rem;
    text-wrap: nowrap;
}

#shape{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 9rem;
}

.banner-texts  p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;
    color: rgba(255, 255, 255, 0.5);
    margin: 2rem 0;
}

#download-btn{
    background-color: transparent;
    border: 1px solid white;
    margin-left: 0.6rem;
    transition: background-color 0.15s ease-in,
                color 0.15s ease-in;
}

#download-btn:hover{
    background-color: white;
    color: black;
}


.banner-img{
    position: relative;
    height: 580px;
}


.banner-sticker{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    width: 12rem;
    height: 100px;
    padding-left: 1.5rem;
    position: absolute;
    border-radius: 0.75rem;
    top: 7.6rem;
    right: -5rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.banner-sticker > h1{
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 40px;
    margin: 17px 0 5px 0;
}

.banner-sticker > span, .sticker2 > div > span{
    color: rgba(255, 255, 255, 0.507);
}

.sticker2{
    top: auto;
    right: auto;
    bottom: 4rem;
    left: -7.2rem;
    display: flex;
    display: flex;
    gap: 0.75rem;
    align-items: center;;
    width: 208px;
}

.sticker2 > div > h1{
    margin: 0;
    margin-bottom: 8px;
    font-size: 1.5rem;
    font-weight: 900;
}

.sticker2 > div > span{
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

#live{
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
}



/* main styles */

/* habits section */
.habits-section{
    margin: 6.5rem 0;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.6rem;
}

.habits-start-text{
    text-align: center;
}

.habits-start-text > .description{
    max-width: 670px;
}

.habit-cards{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    width: 100%;
}

.card{
    max-width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.85rem;
}

.card-img > img{
    border-radius: 50%;
    border: 4px solid rgba(43, 43, 43, 0.603);
}

.card-title{
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
}

.card-text > .description{
    line-height: 18px;
}


/* extra mile section */

#main1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.extra-mile{
    width: 100%;
    max-width: 1060px;
    background: rgb(34, 34, 34);
    border-radius: 18px;
    margin-bottom: 100px;
    padding: 2.5rem 2rem 2.5rem 3rem;
}

.extra-mile > div{
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    height: 100%;
    width: 100%;
    align-items: center;
}

.extra-mile-text{
    width: 100%;
    max-width: 400px;
}

.extra-mile-text > .description{
    margin-bottom: 2rem;
}

.extra-mile .extra-mile-run {
    width: 100%;
    max-width: 366px;
    height: 109%;
    border-radius: 1.1rem;
    background-image: url('images/run.jpg');
    background-size: 320%;
    background-position: 70% 30%;
    background-repeat: no-repeat;
    overflow: hidden;
}


/* trainings and exercises */

.trainings{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    width: 100%;
    max-width: 1060px;
}

.training-para{
    max-width: 670px;
}

.training-pics{
    height: 400px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
}

.row1{
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr;
}

.row1 > div, .row2 > div{
  position: relative;
}

.row1 > div::before, .row2 > div::before{
    content: "";
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    overflow: hidden;
    background-repeat: no-repeat;
}

.row2{
    display: grid;
    grid-template-columns: 1.9fr 1.1fr 2fr;
    overflow: hidden;
}

.row1 > div::after, .row2 > div::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.row1 span, .row2 span{
    position: absolute;
    z-index: 1;
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    font-weight: 500;
}



/* images for trainings and exercises */

#img1::before{
    background-image: url(images/exercise1.jpg);
}
#img1::after{
    background-color: rgba(6, 255, 209, 0.5);
}
#img1 span{
    top: 2.65rem;
    right: 1.5rem;
}

#img2::before{
    background-image: url(images/exercise2.png);
}
#img2::after{
    background-color: rgba(255, 0, 0, 0.3);
}
#img2 span{
    top: 4.45rem;
    right: 1rem;
}

#img3::before{
    background-image: url(images/exercise3.png);
}
#img3::after{
    background-color: rgba(0, 0, 0, 0.5);
}
#img3 span{
    bottom: 0.7rem;
    left: 10rem;
}

#img4::before{
    background-image: url(images/exercise4.png);
}
#img4::after{
    background-color: rgb(0, 0, 0, 0.5);
}
#img4 span{
    top: 1.85rem;
    left: 0.75rem;
}

#img5::before{
    background-image: url(images/exercise5.jpg);
}
#img5::after{
    background-color: rgba(66, 255, 0, 0.30);
}
#img5 span{
    bottom: 3rem;
    right: 0;
    transform: rotate(32deg);
}

#img6::before{
    background-image: url(images/exercise6.jpg);
    background-position: bottom;
}
#img6::after{
    background-color: rgba(0, 71, 255, 0.30);
}
#img6 span{
    top: 2.4rem;
    right: 8rem;
}



/* bmi section */

.bmi-text{
    max-width: 670px;
    margin: 5.5rem auto;
}

.bmi-section h1{
    font-size: 1.75rem;
    font-weight: 900;
    margin: 0;
    text-wrap: nowrap;
}

.bmi-section{
    height: 100%;
    width: 100%;
    background: rgb(34, 34, 34);
    padding: 3.2rem 11rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 11rem;
    margin-bottom: 7rem;
}

#bmi-calc-chart{
    margin-bottom: 3.2rem;
    font-size: 1.8rem;
    text-wrap: nowrap;
}

.bmi-table{
    max-width: 310px;
    width: 100%;
}

.bmi-table, .bmi-table th, .bmi-table td{
    border: 1px solid;
    border-collapse: collapse;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.1);
    text-align: left;
    padding: 0.9rem 1rem;
}

.bmi-table th{
    font-size: 1rem;
    font-weight: 500;
}

.bmi-table td>span{
    color: rgb(255, 255, 255, 0.5);
}


.calculate{
    max-width: 577px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.calculate .description{
    margin-bottom: 0;
}

.inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
}

.inputs > input, .inputs select{
    width: 100%;
    padding: 0.75rem 2.5rem 0.75rem 1.25rem;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
	background: rgba(255, 255, 255, 0.1);
    font-size: 1rem;
}

.inputs > input::placeholder, .inputs select:invalid{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 400;
}

select > option{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 1rem;
}

#activity{
    grid-column: span 2;
}


.select-container{
    position: relative;
}

.select-container select{
    appearance: none;
}

.select-container:after{
    content: "\f078";
    font-family: "FontAwesome";
    position: absolute;
    right: 1.4rem;
    top: 1rem;
    opacity: 0.5;
    pointer-events: none;
}

/* creative section */

.creative{
    margin-bottom: 7rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#video-container{
    border: 2px solid rgb(54,54,54);
    overflow: hidden;
    border-radius: 1rem;
    height: 500px;
    display: flex;
    margin: 2rem 0;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

#select-plan{
    margin: 1rem 0 0 0;
}

#select-plan h2{
    font-size: 1.6rem;
    font-style: italic;
}
#everyone{
    font-family: 'Miama', sans-serif;
    padding: 2px;
    text-decoration: underline;
}

.bmi-card{
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 8px;
    overflow: hidden;
    max-height: 320px;
    cursor: pointer;
    transition: box-shadow 0.15s ease-in;
    max-width: 240px;

}

.bmi-card:hover{
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
}

.bmi-card img{
    width: 100%;
    height: 100%;
    transition: transform 0.15s ease-in;
}

.bmi-card-img-container{
    height: 100%;
    max-height: 150px;
    overflow: hidden;
}

.bmi-card:hover .bmi-card-img-container img{
    transform: scale(110%);
}


.bmi-card-texts{
    padding: 0 1rem;
}

.bmi-card p{
    text-align: left;
}

#needDoctor img{
    transform: scale(110%);
    transition: transform 0.15s ease-in;
}

#needDoctor:hover .bmi-card-img-container img{
    transform: scale(120%);
}

/* trainers */

.team-text-container{
    max-width: 670px;
    text-align: center;
    margin: 0 auto;
}

.team{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 1060px;
}

.trainers{
    background: rgb(34, 34, 34);
    padding: 1rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.trainers h4, .trainers span{
    margin: 0;
    z-index: 1;
}

.trainers h4{
    font-size: 1.25rem;
}
.trainers span{
    font-size: 0.85rem;
    color: rgb(255, 255, 255, 0.5)
}

/* trainer images */
.trainers > div{
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    position: relative;
    overflow: hidden;
    height: 272px;
    cursor: pointer;
}

.trainers > div::before{
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1rem;
    transition: transform 0.15s ease-in;
}

#trainer1::before{
    background-image: url(images/trainer1.png);
    background-position: top;
}

.trainers > div:hover::before{
    transform: scale(105%);
}

#trainer2::before{
    background-image: url(images/trainer2.png);
}
#trainer3::before{
    background-image: url(images/trainer3.png);
    background-position: top;
}
#trainer4::before{
    background-image: url(images/trainer4.png);
}
#trainer5::before{
    background-image: url(images/trainer5.png);
}
#trainer6::before{
    background-image: url(images/trainer6.png);
}



/* footer section */
.footer{
    background: rgb(34, 34, 34);
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 4rem 12rem 0 12rem; 
}

.footer-content-container{
    width: 100%;
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    gap: 4rem;
}

.get-started-container{
    display: flex;
}
.get-started:first-child{
    margin-right: 9.5rem;
}

#fitzo{
    font-size: 4.4rem;
    margin: 0;
}

.footer p{
    line-height: 1.4rem;
    font-size: 0.82rem;
    max-width: 400px;
}


.get-started h1{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.get-started ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 1rem;
}

.get-started ul > li{
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    cursor: pointer;
}


#copyright{
    margin: 2rem;
}



/* small device */

@media (max-width: 576px) {


    nav > div{
        display: none;
    }
    #hamburger-menu{
        display: inline-block;
    }

    .banner,
    .habit-cards,
    .extra-mile,
    .trainers
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner h1{
        max-width: 576px;
    }

}

@media (min-width: 768px) and (max-width: 992px) {
    
    
    header{
        width: 100%;
    }
    header > div{
        width: 95%;
    }
    nav{
        margin-bottom: 4rem;
    }
    nav > div:last-child{
        gap: 1.25rem;
    }
    body{
        max-width: 768px;
    }

    .banner{
        text-align: center;
    }
    .banner, .bmi-section{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner-texts{
        margin: 0;
        width: 85%;
        margin-bottom: 6rem;
    }
    

    .habits-section, .creative{
        max-width: 80%;
    }

    .habit-cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    .card{
        justify-content: center;
    }

    .team, .extra-mile{
        max-width: 95%;
    }
    .extra-mile > div{
        gap: 4rem;
    }
    .extra-mile .extra-mile-run {
        max-width: 256px;
        max-height: 319px;
        background-size: 400%;
        background-position: 68% 30%;
    }

    .trainings{
        max-width: 90%;
    }
    
    
    .bmi-section{
        padding: 2rem 0;
        gap: 4rem;
        text-align: center;
    }
    .bmi-text{
        margin: 4.5rem 0 3rem 0;
        text-align: center;
    }
    .calculate{
        max-width: none;
        padding: 0;
        width: 100%;
        padding: 0 3rem;
    }

    #perfect-text{
        line-height: 2.5rem;
    }
    .cards{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        padding: 0 10%;
        row-gap: 1.5rem;
    }
    
    .footer{
        padding: 4rem 2rem 0 2rem;
    }
    .footer-content-container{
        flex-direction: column;
        max-width: 682px;
    }

}